*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

body{

}

header{
 
  background: #424242;
}

header nav ul{
  list-style: none;
  overflow: hidden;
  display: flex;
  justify-content: end;
}

header nav ul li{
  float: left;
}

header nav ul li .enlaces-1{
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Questrial', sans-serif;
  transition: .5s;
  margin-left: 20px;
  padding: 10px;
}

header nav ul li .enlaces-1:hover{

  transition: .5s;
  color:#FFFFFF;
  background: #ff6d00;
}

@media (max-width:470px){
    header nav ul{
      flex-direction: column;
      align-items: center;
    }

}

/************************TABLA DE PRECIOS****************************/
.pricing-table .primary-action{
  color:#e95846;
  text-decoration: none;
}

.pricing-table .pricing-list{
  list-style-type: none;
}

.clearfix:after{
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 0;
}
/**********************************************************************
************************TABLA DE PRECIOS*******************************
***********************************************************************/

.pricing-wrapper{
  width: 960px;
  margin: 60px auto 20px;
}

.pricing-table{
  float: left;
  width: 300px;
  margin: 300px 10px;
  text-align: center;
  -moz-bos-shadow: 0 0 15px rgba(0,0,0,0.4);
  -webkit-bos-shadow: 0 0 15px rgba(0,0,0,0.4);
   box-shadow: 0 0 15px rgba(0,0,0,0.4);
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25.ease;
  transition: all 0.25s ease;
}

.pricing-table:hover{
  -webkit-transform:scale(1.06);
  -ms-transform:scale(1.06);
  -o-transform:scale(1.06);
  transform: scale(1.06);
}

.pricing-title{
  background: #e95846;
  padding: 20px 0;
  color: #FFF;
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.pricing-table.recomended .pricing-title, .pricing-table.recomended .primary-action{
  background:#2DB3CB;
}

.table-price{
  background: #42403f;
  padding: 20px 0;
  font-size: 3.4em;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  font-weight: 700;
}

.table-price sup{
  font-size: 0.4em;
}

.pricing-list{
  background: #FFF;
  color:#42403f;
  font-family: 'Questrial', sans-serif;
}

.pricing-list li{
  padding: 12px 8px;
  font-size: 1.2em;
  font-weight: 900;
}

.pricing-list li span{
  font-weight: 500;
}

.pricing-list li span.unlimited{
  background: #e95846;
  color: #FFF;
  font-size: 0.9em;
  font-weight: 400;
  -webkit-border-radius:38px;
  -moz-border-radius:38px;
  border-radius: 38px;
  padding: 5px 7px;
}

.pricing-list li:before{
  content: '\f00c';
  font-family:  'Font Awesome\ 5 Free';
  display: inline-block;
  color: #3fab91;
  font-size: 18px;
  position: relative;
  right: 6px;
}

.pricing-list li:nth-child(2n){
  background: #F0F0F0;
}

.table-buy{
    overflow: hidden;
    background: #FFF;
    padding: 15px;
    text-align: left;
}

.table-buy p{
  float: left;
  color: #2b2727;
  font-size: 2.4em;
  font-weight: 700;
}

.table-buy p sup{
  font-size: 0.5em;
}

.pricing-table .primary-action{
  display: block;
  float: right;
  color: #FFF;
  font-size: 1.2em;
  font-weight: 500px;
  background: #e95846;
  padding: 12px 16px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25 ease;
  transition: all 0.25s ease;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.pricing-table .primary-action:hover{
  background: #cf4f3e;
}

.pricing-table.recomended:hover{
    background: #228799;
}

/****************************************************
*****************RESPONSIVE TABLA PRECIOS***********
***************************************************/

@media only screen and(min-width:768px) and (max-width:959px){
  .pricing-wrapper{
      width: 768px;
  }
  .pricing-table{
    width: 236px;
  }

  .pricing-table li{
      font-size: 1.3em;
  }

}

@media(max-width:767px){

  .pricing-wrapper{
    width: 420px;
  }
  .pricing-table{
    float: none;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}

@media only screen and(min-width:479px){
    .pricing-wrapper{
      width: 300px;
        background: red;
    }
}
